/*
 *
 *	xclibex4.rc	External	12-Oct-2002
 *
 *	Copyright (C)  1998-2000  EPIX, Inc.  All rights reserved.
 *
 *	Example program for XCOBJ/XCLIB C Library: resource.
 *
 *
 */

#include <windows.h>
#include <winver.h>
#include "xclibex2.h"


PIXCIDIALOG DIALOG DISCARDABLE	33, 56, 600, 400
    STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU /* | WS_THICKFRAME*/
    BEGIN

	PUSHBUTTON	"Snap",        IDSNAP,		436, 10,50,12,
	PUSHBUTTON	"Live",        IDLIVE,		436, 24,50,12,
	PUSHBUTTON	"Stop",        IDSTOP,		436, 38,50,12,
	PUSHBUTTON	"Seq. Capture",IDSEQCAPTURE,	436, 52,50,12,
	PUSHBUTTON	"Seq. Display",IDSEQDISPLAY,	436, 66,50,12,
	PUSHBUTTON	"Seq. Save",   IDSEQSAVE,	436, 80,50,12,	
	LTEXT		"Buffer", -1,			436, 94, 50, 8,
	SCROLLBAR		       IDBUFFERSCROLL,	436, 104,50, 8

	LTEXT		"N frames:", -1, 80, 430, 50, 8,
	EDITTEXT    IDNFRAMES, 80, 440, 50, 12, ES_AUTOHSCROLL

	LTEXT "FPS:", -1, 136, 416, 20, 10
	LTEXT "", IDFPS, 156, 416, 40, 10, SS_LEFT
	PUSHBUTTON	"QPD acq.", IDQPDACQ, 136, 438, 50, 12,

	LTEXT		"",	IDIMAGE,		1,1,100,100

	LTEXT		"Save path", -1, 10, 506, 50, 8,
	EDITTEXT    IDSAVEPATH, 10, 516, 100, 12, ES_AUTOHSCROLL
	LTEXT		"Settings import path", -1, 10, 530, 50, 8,
	EDITTEXT    IDSETTINGS, 10, 540, 50, 12, ES_AUTOHSCROLL

	LTEXT		"Save interval", -1, 510, 10, 50, 8,
	EDITTEXT    IDSAVEINT, 510, 20, 50, 12, ES_AUTOHSCROLL
	LTEXT		"Exposure time", -1, 510, 34, 50, 8,
	EDITTEXT    IDSAVEEXP, 510, 44, 50, 12, ES_AUTOHSCROLL
	LTEXT		"AOI X", -1, 510, 58, 50, 8,
	EDITTEXT    IDSAVEAOIX, 510, 68, 50, 12, ES_AUTOHSCROLL
	LTEXT		"AOI Y", -1, 510, 82, 50, 8,
	EDITTEXT    IDSAVEAOIY, 510, 92, 50, 12, ES_AUTOHSCROLL
	LTEXT		"AOI W", -1, 510, 106, 50, 8,
	EDITTEXT    IDSAVEAOIW, 510, 116, 50, 12, ES_AUTOHSCROLL
	LTEXT		"AOI H", -1, 510, 130, 50, 8,
	EDITTEXT    IDSAVEAOIH, 510, 140, 50, 12, ES_AUTOHSCROLL

    END
