/*
 *
 *	xclibex4.rc	External	12-Oct-2002
 *
 *	Copyright (C)  1998-2000  EPIX, Inc.  All rights reserved.
 *
 *	Example program for XCOBJ/XCLIB C Library: resource.
 *
 *
 */

#include <windows.h>
#include <winver.h>
#include "xclibex2.h"


PIXCIDIALOG DIALOG DISCARDABLE	33, 56, 274, 160
    STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU /* | WS_THICKFRAME*/
    BEGIN

	LTEXT		"Save path", -1, 210, 10, 50, 8,
	EDITTEXT    IDSAVEPATH, 210, 20, 50, 12, ES_AUTOHSCROLL
	LTEXT		"Settings import path", -1, 210, 10, 50, 8,
	EDITTEXT    IDSETTINGS, 210, 20, 50, 12, ES_AUTOHSCROLL

	PUSHBUTTON	"Snap",        IDSNAP,		136, 10,50,12,
	PUSHBUTTON	"Live",        IDLIVE,		136, 24,50,12,
	PUSHBUTTON	"Stop",        IDSTOP,		136, 38,50,12,
	PUSHBUTTON	"Seq. Capture",IDSEQCAPTURE,	136, 52,50,12,
	PUSHBUTTON	"Seq. Display",IDSEQDISPLAY,	136, 66,50,12,
	PUSHBUTTON	"Seq. Save",   IDSEQSAVE,	136, 80,50,12,	
	LTEXT		"Buffer", -1,			136, 94, 50, 8,
	SCROLLBAR		       IDBUFFERSCROLL,	136, 104,50, 8

	PUSHBUTTON	"QPD acq.", IDQPDACQ, 136, 128, 50, 12,

	LTEXT		"",	IDIMAGE,		1,1,128,128

	LTEXT		"Save interval", -1, 210, 10, 50, 8,
	EDITTEXT    IDSAVEINT, 210, 20, 50, 12, ES_AUTOHSCROLL
	LTEXT		"Exposure time", -1, 210, 34, 50, 8,
	EDITTEXT    IDSAVEEXP, 210, 44, 50, 12, ES_AUTOHSCROLL
	LTEXT		"AOI X", -1, 210, 58, 50, 8,
	EDITTEXT    IDSAVEAOIX, 210, 68, 50, 12, ES_AUTOHSCROLL
	LTEXT		"AOI Y", -1, 210, 82, 50, 8,
	EDITTEXT    IDSAVEAOIY, 210, 92, 50, 12, ES_AUTOHSCROLL
	LTEXT		"AOI W", -1, 210, 106, 50, 8,
	EDITTEXT    IDSAVEAOIW, 210, 116, 50, 12, ES_AUTOHSCROLL
	LTEXT		"AOI H", -1, 210, 130, 50, 8,
	EDITTEXT    IDSAVEAOIH, 210, 140, 50, 12, ES_AUTOHSCROLL

    END
